<div class="container">
  <app-menu></app-menu>

  <app-page-title
    [title]="'Unshorten URL'"
    [description]="
      'Enter the shortened URL to reveal the original destination page.'
    "
  ></app-page-title>

  <app-url-form
    [action]="'unshorten'"
    (OnSubmit)="showLongUrl($event)"
  ></app-url-form>

  <app-url-result [urlResponseDto]="longUrl" [unshort]="true"></app-url-result>

  <app-info
    [title]="'What is Unshorten Url?'"
    [description]="'unshorten'"
  ></app-info>
</div>
<app-footer></app-footer>
